@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>@Umbraco.Field("metaTitle") &#38; @Umbraco.Field("siteName", recursive: true)</title>
		<link href="~/css/bootstrap.min.css" rel="stylesheet">
		<link href="~/css/style.css" rel="stylesheet" />
        <link href="~/css/rte.css" rel="stylesheet" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
			@{Html.RenderPartial("Site/backgroundImage");}
	</head>
	<body>
		<header>
            <div class="container">
			    @{Html.RenderPartial("main");}
            </div>
		</header>
            <div class="container">
		        @RenderBody()
            </div>
		<footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 center-content">
                        <a href="/">&copy; Company Name @DateTime.Now.ToString("yyyy")</a>
                    </div>
                    <div class="col-md-4 center-content">
                        <div class="fb-like" data-href="https://www.facebook.com/GitHub" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="Github" data-show-count="false">Tweet</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    <div class="col-md-4 center-content">
                        <a href="/" target="_blank">Company Link</a>
                    </div>
                </div>
            </div>
		</footer>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="~/scripts/bootstrap.min.js"></script>
		<script src="~/scripts/script.js"></script>
        <script src="~/scripts/like-facebook.js"></script>		
	</body>
</html>